h1,h2,h3,h4,h5,h6,p
  margin: 0px
.container
  margin-top: 30px

.card
  border: 1px solid #c6c6c6
  padding: 0
  margin: 0 20px 20px 0
  .content
    width: 55%
    margin: 15px 0 0 15px
    h5
      font-weight: bold
      margin-bottom: 5px
    p
      font-size: 14px
      line-height: 1.2
  .image,.content
    display: inline-block
    vertical-align: top
  .btn-card
    position: absolute
    right: 0px
    bottom: 0px
    border: none
    padding: 8px 20px

