@import "components/common"
@import "components/button"
@import "components/font"

.container
  margin-top: 30px

.card
  border: 1px solid #c6c6c6
  padding: 0
  margin: 0 20px 20px 0
  .content
    width: 55%
    padding: 20px 30px 0 30px
    h6
      font-size: 18px
      font-family: NYPFontBold
      margin-bottom: 5px
    p
      font-size: 13px
      line-height: 1.2
  .image,.content
    display: inline-block
    vertical-align: top
  .btn-card
    position: absolute
    right: 0px
    bottom: 0px
    border: none
    padding: 8px 20px

